.app-content-main {
  padding: 0.5rem 0.5rem 2rem;
}

@media only screen and (min-width: 700px) {
  .app-content-main {
    padding: 1rem;
  }
}



mat-toolbar {
  top: 0;
  z-index: 1000;
  position: sticky;
  background-color: #ffffff;
  color: rgba(0,0,0,.7);
  border-bottom: 1px solid rgba(0,0,0,.10);

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
  }
  .mat-subheader {
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: normal;
  }
}
.example-spacer {
  flex: 1 1 auto;
}


mat-card {
  margin-bottom: 10px;
  cursor: pointer;
}

mat-card-title {
  font-size: 16px;
}

mat-card-subtitle {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
}
